<section class="formulario-proveedor">
  <h2 class="titulo-seccion">Nuevo Proveedor</h2>
  <form id="form-nuevo-proveedor" class="formulario-box">

    <label for="cuit">CUIT:</label>
    <input type="text" name="cuit" id="cuit" required>

    <label for="nombre">Nombre:</label>
    <input type="text" name="nombre" id="nombre" required>

    <label for="rubro">Rubro:</label>
    <input type="text" name="rubro" id="rubro" required>

    <label for="observaciones">Observaciones:</label>
    <textarea name="observaciones" id="observaciones" rows="3"></textarea>

    <div class="form-buttons">
      <button type="submit">GUARDAR</button>
      <button type="button" onclick="loadComponent('app/components/proveedores.html', 'view-container')">CANCELAR</button>
    </div>

  </form>
</section>
