<section class="confirmar-borrado formulario-proveedor">
  <h2 class="titulo-seccion">Borrar Proveedor</h2>
  
  <div class="formulario-box">
    <p style="font-size: 1.1rem; color: #444;">
      ¿Confirma que desea eliminar al proveedor <strong>Laura Díaz</strong>?
    </p>

    <div class="form-buttons">
      <button id="confirmar-borrar">SÍ, ELIMINAR</button>
      <button type="button" onclick="loadComponent('app/components/proveedores.html', 'view-container')">CANCELAR</button>
    </div>
  </div>
</section>
