/* ======================
   SIDEBAR.CSS (barra lateral)
   ====================== */

/* Contenedor principal del sidebar */
#sidebar-container {
  width: 20rem;
  height: 100vh;
  background-color: #0078BF;
  padding: 1rem;
  box-shadow: 10px 0px 0px rgba(220, 207, 207, 0.76);
  display: flex;
  flex-direction: column;
}

/* Área interna del sidebar */
.sidebar {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* Botones reutilizables del sidebar */
.sidebar-button {
  background-color: #19508c;
  color: white;
  border: none;
  padding: 1rem;
  border-radius: 8px;
  text-align: left;
  font-size: 1rem;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  width: 100%;
}

/* Efecto al pasar el mouse */
.sidebar-button:hover {
  background-color: #92969a;
  transform: scale(1.02);
}

/* Botón activo o seleccionado */
.sidebar-button.active {
  background-color: #000000a3;
  color: rgb(255, 255, 255);
  box-shadow: 0 0 10px rgba(111, 116, 122, 0.6);
}
