
<h2 id="formTitle"></h2>

<label for="educationalLevel">Nivel</label>
<select id="educationalLevel"></select>

<label for="school">Escuela</label>
<select id="school"></select>

<label for="workCategory">Tipo de trabajo</label>
<select id="workCategory">
    <option value="servicio">Servicios</option>
    <option value="intervencion_infraestructura">Intervenciones de infraestructura</option>
</select>

<div id="serviceDetails">
    <label for="serviceType">Detalle del trabajo</label>
    <select id="serviceType"></select>
</div>

<div id="infrastructureDetails">
    <label for="infraType">Detalle del trabajo</label>
    <select id="infraType"></select>
</div>

<label for="workLocation">Área/Dependencia</label>
<select id="workLocation"></select>

<label for="fecha">Fecha Inicio: <span id="fecha"></span></label> <p> <span>09/06/2025</span></p>

<div class="form-buttons">
    <button type="button">GUARDAR</button>
    <button type="button">VOLVER</button>
</div>

